# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
book/the-wiz-book.aux
book/the-wiz-book.fls
book/the-wiz-book.log
book/the-wiz-book.synctex.gz
book/the-wiz-book.toc
